body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.tag {
  margin-bottom: 10px;
}

.button-break,
.button-session {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button-break:hover,
.button-session:hover {
  background-color: #1565C0;
}

#timer-label,
#time-left,
#start_stop,
#reset {
  margin-top: 20px;
}
